@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

$redColor: #f54811;
$grayColor01: #c7ced0;
$grayColor02: #f8f8f8;

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f9fdff;
}

main {
    padding-top: 120px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1270px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}