header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    box-shadow: 0 15px 15px rgba(0,0,0,.05);
    background-color: #f8f8f8;
}

.navigation {
    height: 100%;
    justify-content: left;
    align-items: center;
}